<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vue 시작하기!!</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>

        <div id="start">
            <div class="select">
                <select v-model="select">
                  <option value='' disabled>옵션중 하나를 선택해주세요.</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
            </div>

            <div class="checkbox">
                <input type="checkbox" value="1" v-model="checks">
                <label>1</label>
                <input type="checkbox" value="2" v-model="checks">
                <label>2</label>
                <input type="checkbox" value="3" v-model="checks">
                <label>3</label>
            </div>

            <div class="radio">
                <input type="radio" value="1" v-model="pick">
                <label>1</label>
                <input type="radio" value="2" v-model="pick">
                <label>2</label>
            </div>
        </div>

        <script type="text/javascript">
        let app = new Vue({
            el: '#start',
            data () {
                return {
                    select: '1',
                    checks: ['1', '3'],
                    pick: '2'
                }
            }
        })
        </script>
    </body>
</html>
